body {
    background-color: black;
    font-family: "Inconsolata", monospace, sans-serif;
    color: white;
}

@font-face {
    font-family: "Inconsolata";
    src: url("Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf");
}